html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  color: #333;
}

.background {
  border: none;
  border-radius: 8px ;
  width: 400px;
  height: 500px;
  background: grey;
}

h1 {
  margin-top: 20px;
}

button {
  margin: 10px 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.hidden {
  display: none;
}

#newCharacter {
  margin-top: 20px;
}

input {
  margin-inline: 10px;
  padding-block: 10px;
  width: 200px;
}
